<h1><%= @the_user.email %></h1>

<dl>


<h2>Favorite songs</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Artist name
    </th>

    <th>
    </th>
  </tr>

  <% @the_user.favorites.each do |a_favorite| %>

    <tr>

      <td>
        <%= a_favorite.song.title %>
      </td>

      <td>
        <%= a_favorite.song.artist_name %>
      </td>

      <td>
        <a href="/songs/<%= a_favorite.song.id %>">
          Show details
        </a>
      </td>

      <td>
        <form action="/delete_favorite/<%= a_favorite.id %>" method = "get">
          <button>
            Remove favorite
          </button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
